html,body{
  height: 100%;
  margin: 0;
}

.container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  }

  .page-title{
    background-color: #CDC8A7;
    flex:1 0 100%;
    text-align: center;
    border: 2px solid black;
  }
  .sidebar{
    background-color: #CDC8A7;
    flex-wrap: nowrap;
    border: 2px solid black;
  }
  .main-content{
    background-color: #E3D87E;
    flex: 1 1;
    flex-wrap: nowrap;
    border: 2px solid black;

  }

.sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.button-sidebar {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
.button-46:active,
.button-46:hover {
    outline: 0;
  }
  
.button-46:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
@media (min-width: 768px) {
.button-46 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
    }
}
.image-homepage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.tab{
    tab-size: 8;
}
#h2-style{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

label{
  display: inline-block;
  width: 140px;
  text-align: right;
}

textarea{
  overflow:hidden;
  resize:none;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#submit-button{
  display: block; 
  margin: 0 auto;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}